{% extends 'govuk_template.html' %}
{% block page_title %}Awaiting Review{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        {% if resubmitted == '1' %}
            <h1 class="form-title heading-large">
                Thank you for resubmitting your application
            </h1>
        {% else %}
            <h1 class="form-title heading-large">
                Awaiting review
            </h1>
        {% endif %}
        <p>Application actions are on Ofsted</p>
    </div>
</div>

{% endblock %}