{% extends 'govuk_template.html' %}
{% block page_title %}Cancel my application{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
<div class="column-full">
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <div form="form group grid-row">
            <h1 class="form-title heading-large">
                This is the placeholder cancellation guidance page
            </h1>
            <p>This will be filled on content definition.</p>

            {% csrf_token %}
        </div>
    </form>
</div>

{% endblock %}