{% extends 'govuk_template.html' %}
{% block page_title %}Childcare Register (voluntary part){% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">
<h1 class="form-title heading-large">
    Childcare Register (voluntary part)
</h1>

<p>You'll be joining the voluntary part of the Childcare Register.</p>

<p>It costs &#163;{{fee}} to apply.</p>

<p class="text-before-button">This will let you look after children aged 8 or older.</p>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    {{form.as_div}}
    <input type="hidden" value="{{application_id}}" name="id"/>
    <input type="submit" class="button" value="Confirm and continue">
</form>
</div>

{% endblock %}