{% extends 'govuk_template.html' %}
{% block page_title %}Your email address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">
{{form.error_summary}}
</div>
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div class="two-thirds">
        <h1 class="form-title heading-large">
            Your email address
        </h1>
        <p>We’ll send you a link to confirm that you have access.</p>
        <p>We’ll also use it to contact you about your registration.</p>
    </div>
    {{form.as_div}}
    {% csrf_token %}
    <input type="submit" class="button" value="Continue" alt='Continue'>
</form>
</div>

{% endblock %}