{% extends 'govuk_template.html' %}
{% block page_title %}Your phone number{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">
    {{mobile_form.error_summary}}
    {{add_phone_form.error_summary}}

    <h1 class="form-title heading-large">
        Your phone number
    </h1>

</div>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <p class="two-thirds">We'll send a code to your mobile when you sign in next time.</p>
    {{mobile_form.as_div}}
    <p class="two-thirds">Let us know if you have another number, like a landline phone.</p>
    {{add_phone_form.as_div}}
    {% csrf_token %}
    <p class="two-thirds">We’ll use the numbers to contact you about your registration.</p>
    <input type="submit" class="button" value="Save and continue" alt='Continue to declaration'>
    <input type="hidden" name="id" value="{{application_id}}"/>
    <!-- If applicant has previously completed this task, allow user to return to task list -->
    {% if login_details_status == 'COMPLETED' and childcare_type_status == 'COMPLETED' %}
    <br>
    {% include 'return-to-list.html' %}
    {% elif login_details_status == 'FLAGGED' or childcare_type_status == 'FLAGGED' %}
    <br>
    {% include 'return-to-list.html' %}
    {% endif %}
</form>

{% endblock %}