{% extends 'govuk_template.html' %}
{% block page_title %}Costs of becoming a childminder{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">
<h1 class="form-title heading-large">
    Costs of becoming a childminder
</h1>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Application fee
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="two-thirds">
            Caring only for children aged 0 to 5
        </td>
        <td class="one-third">
            £35
        </td>
    </tr>
    <tr>
        <td class="two-thirds">
            Caring only for children aged 5 or older
        </td>
        <td class="one-third">
            £103
        </td>
    </tr>
    <tr>
        <td class="two-thirds">
            Caring for children of all ages
        </td>
        <td class="one-third">
            £35
        </td>
    </tr>
</table>

<br>

<p>This fee is not refundable.</p>
<p>It costs the same to renew every year.</p>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Criminal record (DBS) checks
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="two-thirds">
            Your criminal record (DBS) check
        </td>
        <td class="one-third">
            £52.10
        </td>
    </tr>
     <tr>
        <td class="two-thirds">
            Checks for adults in your home
        </td>
        <td class="one-third">
            £52.10 each
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Health declaration booklet
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="two-thirds">
            GP to fill in and sign booklet
        </td>
        <td class="one-third">
            £90 (approx)
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Training
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="two-thirds">
            First aid course that covers the age groups you will look after
        </td>
        <td class="one-third">
            £60 to £200 (approx)
        </td>
    </tr>
     <tr>
        <td class="two-thirds">
            Childcare training
        </td>
        <td class="one-third">
            £50 to £200 (approx)
        </td>
    </tr>
</table>


<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Insurance
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="two-thirds">
            Public liability insurance
        </td>
        <td class="one-third">
            £25 to £100 (approx)
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Digital personal details records
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="two-thirds">
            <a href="https://ico.org.uk/for-organisations/register/" target="_blank">Register with ICO</a> if you want to keep digital records of children
        </td>
        <td class="one-third">
            £35
        </td>
    </tr>
</table>

<p class="top-padded text-before-button">
    Your house and car insurance also need to be up to date.
</p>

{% if id and AUTHENTICATED %}
   <a href="{{ return_url }}" class="button">Return to application</a>
{% endif %}
</div>

{% endblock %}