{% extends 'govuk_template.html' %}
{% block page_title %}Costs of becoming a childminder{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<h1 class="form-title heading-large">
    Costs of becoming a childminder
</h1>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Register as a childminder
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td width="66%">
            Application fee (not refundable)
        </td>
        <td width="33%">
            £35
        </td>
    </tr>
</table>

<p class="top-padded">The fee is £103 if you are only caring for children aged over 5.</p>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Criminal record (DBS) checks
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td width="66%">
            Your criminal record (DBS) check
        </td>
        <td width="33%">
            £52.10
        </td>
    </tr>
     <tr>
        <td width="66%">
            Checks for adults in your home
        </td>
        <td width="33%">
            £52.10 each
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Health declaration booklet
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td width="66%">
            GP to fill in and sign booklet
        </td>
        <td width="33%">
            £90 (approx)
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Training
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td width="66%">
            Paediatric first aid course
        </td>
        <td width="33%">
            £80 to £200 (approx)
        </td>
    </tr>
     <tr>
        <td width="66%">
            Early years training
        </td>
        <td width="33%">
            £20 to £200 (approx)
        </td>
    </tr>
</table>


    <table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Insurance
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td width="66%">
            Public liability insurance
        </td>
        <td width="33%">
            £25 to £100 (approx)
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th colspan="2">
                <div class="heading-medium">
                    Digital personal details records
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td width="66%">
            Keep digital records of children - <a href="https://ico.org.uk/for-organisations/register/">Register with ICO</a>
        </td>
        <td width="33%">
            £35
        </td>
    </tr>
</table>

<p class="top-padded text-before-button">
    Your house and car insurance also need to be up to date.
</p>

{% if id and AUTHENTICATED %}
    <a href="{% url 'Task-List-View' %}?id={{id}}">Return to application</a>
{% endif %}

{% endblock %}