{% extends 'govuk_template.html' %}
{% block page_title %}Cancel Application{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

    <div class="form-group">
        <h1 class="form-title heading-large">
            Application cancelled
        </h1>
        <p>Your application on tis test service has been cancelled.</p>
        <p>You can apply to look after children aged 5 or over on Ofsted Online.</p>
        <br>
        <a href="https://online.ofsted.gov.uk/OnlineOfsted/Default.aspx">Go to Ofsted Online</a>.

    </div>


{% endblock %}