{% extends 'govuk_template.html' %}
{% block page_title %}Application cancelled{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
<div class="two-thirds">
    <div class="form-group">
        <h1 class="form-title heading-large">
            Application cancelled
        </h1>
        <p>Your information has been deleted.</p>
        <p>You can apply through <a href="https://online.ofsted.gov.uk/OnlineOfsted/Default.aspx" target="_blank">Ofsted Online</a>.</p>
    </div>
</div>

{% endblock %}