{% extends 'govuk_template.html' %}
{% block page_title %}DBS update{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
    {{form.error_summary}}

    <form method="post" novalidate>
        <div class="form-group">
            <h1 class="form-title heading-large">
                DBS update
            </h1>
            <p>Your certificate is not dated in the last 3 months.</p>
            <p> You need to be on the <a href="https://www.gov.uk/dbs-update-service">DBS Update Service.</a>
            </p>
            {{ form.as_div }}
            {% csrf_token %}
            <input type="submit" class="button" value="Save and continue">
        </div>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}