{% extends 'govuk_template.html' %}
{% block page_title %}Criminal record (DBS) check{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<!-- Form -->
<div class="two-thirds">
<form method="post" novalidate>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Lived abroad
        </h1>
        {{ form.as_div }}
        <input type="submit" class="button" value="Continue">
        {% csrf_token %}
    </div>
</form>
</div>

{% endblock %}