{% extends 'govuk_template.html' %}
{% block page_title %}Post your DBS certificate{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
{{form.error_summary}}
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div class="form-group">
        <h1 class="form-title heading-large">
            Post your DBS certificate
        </h1>
        <p>We need your certificate to check details of any cautions or convictions.</p>
        <p>You must send your original certificate (not a photocopy) to Ofsted.</p>
        <p class="text-before-button">We will check your certificate and send it back to you.</p>
        {% csrf_token %}
        <input type="hidden" value="{{application_id}}" name="id"/>
        <input type="submit" class="button" id="dbs-upload-continue" value="Save and continue">
    </div>
</form>
</div>


{% include 'return-to-list.html' %}

{% endblock %}