{% extends 'govuk_template.html' %}
{% block page_title %}Email your certificates{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
<form method="post" novalidate>
    <div class="form-group">
        <h1 class="form-title heading-large">
            Email your certificates
        </h1>
        <p>You will need to email a copy of your certificates to Ofsted on enquiries@ofsted.gov.uk  after you submit your application.</p>
        <p>You must wait to submit your application before sending us these, otherwise we will not be able to check it.</p>

        {% csrf_token %}
        <input type="submit" class="button" value="Continue">
    </div>
</form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}