{% extends 'govuk_template.html' %}
{% block page_title %}Your criminal record (DBS) check details{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
{{form.error_summary}}

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    <div class="form-group">
        <h1 class="form-title heading-large">
            Your criminal record (DBS) check details
        </h1>
        <p>Please give us details of your Disclosure and Barring Service (DBS) certificate.</p>
        <p>We need the details to check that you're suitable to care for children.</p>
        {{form.as_div}}
        {% csrf_token %}
        <input type="hidden" value="{{application_id}}" name = "id" />
        <input type="submit" class="button" value="Save and continue">
    </div>
</form>

{% include 'return-to-list.html' %}

{% endblock %}