{% extends 'govuk_template.html' %}
{% block page_title %}Your declaration{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include "back-button.html" %}

<div class="two-thirds">
{{declaration_form.error_summary}}

<div class="form-group">
    <h1 class="form-title heading-large">
        Your declaration
    </h1>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        {% if registers %}
        <p>
            By continuing, I understand that I must follow the rules in the register.
        </p>
        {% endif %}

        <p>
            {% if registers %}
                I confirm that:
            {% else %}
                By continuing, I confirm that:
            {% endif %}
            <ul class="list-bullet">
                <li>I will get public liability insurance before I start work</li>
                <li>the information I have given is correct</li>
                <li>I will tell Ofsted if this information changes</li>
            </ul>
        </p>

        <p>
            <img src="{% static 'icon-important-2x.png' %}" alt="Important"
                        style="height: 40px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
            <b class="bold">You can be disqualified if you:</b>
            <div class="bold">
                <ul class="list-bullet">
                    <li>give us false information</li>
                    <li>hide information</li>
                </ul>
            </div>
        </p>


        {{ form.as_div }}

        {% csrf_token %}
        <input type="hidden" value="{{application_id}}" name="id"/>
        <input type="submit" class="button" value="Continue"/>
    </form>
</div>
</div>

{% endblock %}