{% extends 'govuk_template.html' %}
{% block page_title %}Your declaration{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include "back-button.html" %}

{{form.error_summary}}
{{form2.error_summary}}

<div class="form-group">
    <h1 class="form-title heading-large">
        Your declaration
    </h1>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <h3 class="heading-small">
            I understand that Ofsted will:
        </h3>
        {{confirmation_of_understanding_form.as_div}}

        <h3 class="heading-small">
            I am happy for Ofsted to:
        </h3>
        {{consent_to_sharing_form.as_div}}

        <h3 class="heading-small">
            By continuing, I confirm that:
        </h3>
        {{confirmation_of_declaration_form.as_div}}

        <p>
            <img src="{% static 'icon-important-2x.png' %}" alt="Important"
                        style="height: 40px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
            <b class="bold">Your application can be refused if you:</b>
            <div class="bold" style="margin-left: 100px;">
                <ul style="list-style-type:disc">
                    <li>give us false information</li>
                    <li class="text-before-button">if you hide information.</li>
                </ul>
            </div>
        </p>

        {% csrf_token %}
        <input type="hidden" value="{{application_id}}" name="id"/>

        {% if is_resubmission %}
            <input type="submit" class="button" value="Confirm"/>
        {% else %}
            <input type="submit" class="button" value="Confirm and pay your fee"/>
        {% endif %}
    </form>
</div>

{% endblock %}