{% extends 'govuk_template.html' %}
{% block page_title %}Declaration{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
{{form.error_summary}}
<div class="form-group">
    <h1 class="form-title heading-large">
        Declaration
    </h1>
    <p>You need to confirm that the information you have given us is correct.</p>
    <p>You also need to follow the rules around caring for children and keeping them safe.</p>
    {% if five_to_eight or eight_plus %}
    <p>You must follow the <a href="https://www.gov.uk/guidance/childminders-and-childcare-providers-register-with-ofsted/registration-requirements"
                          target="_blank">Childcare Register rules</a> while you are a childminder.</p>
    {% else %}
    <p>Read the <a href="{% url 'Registration-Rules' %}">registration rules</a>.</p>
    {% endif %}
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        {{form.as_div}}
        {% csrf_token %}
        <input type="hidden" value="{{application_id}}" name="id"/>
        <input type="submit" class="button" value="Continue"/>
    </form>
</div>
</div>

{% endblock %}