{% extends 'govuk_template.html' %}
{% block page_title %}Early years training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
{{form.error_summary}}
<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div class="form-group">
        <h1 class="form-title heading-large">
            Early years training
        </h1>
        <p>You need to have training that helps you to understand the Early Years Foundation Stage (EYFS) standards.</p>
        <p>These are the rules around teaching and caring for young children.</p>
        <p>You do not have to do a particular course.</p>
        <p><a href="https://www.gov.uk/find-local-council" target="_blank">Ask your council</a> for details of courses in your area.</p>
        {% csrf_token %}
        {{form.as_div}}
        <input type="hidden" value="{{application_id}}" name="id"/>
        <input type="submit" class="button" value="Continue">
    </div>
</form>
</div>

{% endblock %}