{% extends 'govuk_template.html' %}
{% block page_title %}First aid training certificate{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
{{form.error_summary}}

<h1 class="form-title heading-large">
    First aid training certificate
</h1>

<p>An inspector will ask to see your certificate when they visit your home.</p>

<p class="text-before-button">You must show the inspector your certificate.</p>

<form method="post" class="form-group" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    <input type="submit" class="button" value="Save and continue" alt='Continue to declaration'>
    <input type="hidden" id="id" name="id" value="{{application_id}}"/>
</form>

<div class="top-padded">
    {% include 'return-to-list.html' %}
</div>
</div>

{% endblock %}