{% extends 'govuk_template.html' %}
{% block page_title %}First aid training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">
<h1 class="form-title heading-large">
    First aid training
</h1>

{% if register == 'childcare_register_only' %}

    <p>You need to go on a first aid course that:</p>

    <ul class="list list-bullet">
        <li>covers the age groups you will look after</li>
        <li>is dated within the last 3 years</li>
    </ul>

    <p>Lots of organisations provide courses, such as the <a href="https://www.redcrossfirstaidtraining.co.uk/Courses.aspx" target="_blank">Red Cross</a> and <a href="http://www.sja.org.uk/sja/training-courses/first-aid-courses.aspx" target="_blank">St John Ambulance.</a></p>
    <p><a href="https://www.gov.uk/find-local-council" target="_blank">Ask your council</a> for details of courses in your area.</p>

{% elif register == 'early_years_register' %}

    <p>You need to go on a full paediatric first aid course.</p>
    <p>The course should last at least 12 hours. It is usually a 2-day course.</p>
    <p>You must renew your training every 3 years to keep it up to date.</p>

{% endif %}

<form method="post" class="form-group" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div class="form-group">
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button button-submit" value="Continue">
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </div>
</form>
</div>

{% endblock %}