{% extends 'govuk_template.html' %}
{% block page_title %}Fill in the health declaration booklet{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->

{% include "back-button.html" %}
{{form.error_summary}}

<div class="form-group">
    <h1 class="form-title heading-large">
        Fill in the health declaration booklet
    </h1>
    <p>Please follow the steps below:</p>
    <ul class="list list-bullet">
        <li>download and print the booklet</li>
        <li>fill in sections A and B</li>
        <li>ask your GP to fill in section C</li>
        <li>post the completed form to Ofsted</li>
    </ul>
    <p>
        <img src="{% static 'download-button.png' %}" class="icon-ofsted-download" alt="Download"/>
        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/381218/Health_20declaration_20booklet.pdf"
           target="_blank" alt="Download 'Health Declaration Booklet'">Health declaration booklet</a>
        (PDF, 174KB, 16 pages)
    </p>
    <p class="text-before-button">Ofsted will look at the booklet as part of your application.</p>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        {% csrf_token %}
        <input type="submit" class="button" value="Save and continue" alt='Continue to declaration'>
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}