{% extends 'govuk_template.html' %}
{% block page_title %}Check your answers: health declaration booklet{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="two-thirds">
<h1 class="form-title heading-large">Check your answers: your health</h1>
<table class="check-your-answers form-group">
<colgroup>
        <col style="width:40%">
        <col style="width:40%">
        <col style="width:20%">
</colgroup>
    <thead>
    <tr>
        <th colspan="3">
            <div class="heading-medium">
                Your health
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Will you submit a health declaration booklet to Ofsted?
        </td>
        {% if send_hdb_declare is True %}
        <td style="word-wrap: break-word">
            Yes
        </td>
        {% elif send_hdb_declare is False %}
        <td style="word-wrap: break-word">
            No
        </td>
        {% endif %}
        <td class="change-answer">
            <a href="{% url 'Health-Booklet-View' %}?id={{application_id}}#id_send_hdb_declare-group"
               alt='Change answer on sending health declaration booklet to Ofsted?'>
                Change <span class="visuallyhidden">answer on sending health declaration booklet to Ofsted?</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<form action="{% url 'Task-List-View %}?id={{application_id}}" method="get">
    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>
</form>
</div>

{% endblock %}