{% extends 'govuk_template.html' %}
{% block page_title %}Type of childcare{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div form="form group">
        <h1 class="form-title heading-large">
            This is the placeholder local authority page
        </h1>
        <p>This will be filled on content definition.</p>
        <p>The user is will be referred to their local authority <a href="">here</a>.</p>

        {% csrf_token %}

        <input type="hidden" value="{{application_id}}" name="id"/>
        <input type="submit" class="button-save-and-exit" style="margin-left: 0px;" name="Cancel application" value="Cancel application">

        <br>
        <br>

        <input type="hidden" id="id" name="id" value="{{application_id}}">
        <input type="submit" class="button" value="Continue to task-list">
    </div>
</form>

{% endblock %}
