{% extends 'govuk_template.html' %}
{% block page_title %}Get your home ready{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="two-thirds">
<div class="grid-row">
    <!-- Back button -->
    {% include "back-button.html" %}
    <h2 class="heading-large">
        Get the home ready
    </h2>
    <p>Make sure the home is safe, secure and suitable for children.</p>
    <p>The inspector will ask how you have:</p>
    <ul class="list-bullet" style="margin-bottom: 20px; margin-left: 20px;">
        <li>made the home and equipment safe</li>
        <li>assessed any risks</li>
        <li>arranged space in the home</li>
    </ul>
    <p>Read the <a href="https://www.gov.uk/government/publications/become-a-registered-early-years-or-childcare-provider-in-england" target="_blank">registration handbook</a> for more details.</p>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button" value="Continue">
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </form>
    <br>
    <p class="next-steps">Next: Prepare for your interview</p>
</div>
</div>


{% endblock %}