{% extends 'govuk_template.html' %}
{% block page_title %}{{page_title}}{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

{% include "generic-error-summary.html" with table_list=table_list application_id=application_id %}

<div class="two-thirds">
<h1 class="form-title heading-large">
    {{ page_title }}
</h1>
    
<p>You can change these details later.</p>
{% for table in table_list %}
<table class="check-your-answers">
    <colgroup>
        <col class="summary-column">
        <col class="summary-column">
    </colgroup>
    <thead>
        <th colspan="2"></th>
    </thead>
    <tbody>
    {% for row in table.row_list %}
    {% if row.error != '' %}
    <tr>
        <td class="error-row" colspan="2">
            <p class="error-container">
            <i class="icon icon-important icon-ofsted-download">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small error-text">
                {{ row.error }}
            </strong>
            </p>
        </td>
    </tr>
    {% endif %}
    {% if row.value != None %}
    <tr id="{{row.data_name}}">
        {% if row.error != '' %}
            <td class="summary-column error-row">
        {% else %}
            <td class=summary-column>
        {% endif %}
            {{row.row_name}}
        </td>
        <td class=summary-column>
            {% if row.value == True %}
                Yes
            {% elif row.value == False %}
                No
            {% else %}
                {{row.value}}
            {% endif %}
        </td>

    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endfor %}
    <div class="form-group">
        <form method="post">
            <input type="submit" class="button" value="Confirm and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}