{% extends 'govuk_template.html' %}
{% block page_title %}Children turning 16{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
<div class="two-thirds">
{% for form in form_list %}
    {{form.error_summary}}
{% endfor %}
<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Children turning 16
        </h1>
        <p>You have children in the home who will be turning 16 in the coming months.</p>
        <p>You do not need to do anything now.</p>
        <p>Once they turn 16, the children will need to get a criminal record (DBS) check and answer a few health questions.</p>
        <p>You’ll need to give us their DBS certificate number and email address.</p>
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button" value="Save and continue">
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </div>
</form>
</div>

{% endblock %}