{% extends 'govuk_template.html' %}
{% block page_title %}Details of children in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
<div class="two-thirds">
{% for form in form_list %}
{{form.error_summary}}
{% endfor %}
</div>

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div class="two-thirds">
        <h1 class="form-title heading-large">
            Details of children in the home
        </h1>
        <p>Please give details of the children who live in the home.</p>
        {% for form in form_list %}
        <h2 class="form-title heading-medium" id="person{{form.prefix}}">
            Child {{form.prefix}}
        </h2>
    </div>
    {{form.as_div}}
    {% if remove_button is True %}
    <a href="{% url 'PITH-Children-Details-View' %}?id={{application_id}}&children={{remove_child}}&remove={{form.prefix}}"
       style="margin-left: 0px;"><b>Remove child</b></a>
    {% endif %}
    {% endfor %}
    {% csrf_token %}
    <input type="hidden" value="{{application_id}}" name="id"/>

    <!-- button to be triggered should a user press Enter rather than click a button -->
    <input type="submit" class="button js-hidden" name="submit" value="Save and continue">

    <input type="submit" class="button-save-and-exit" style="margin-left: 0px;" name="add_child"
           value="Add another child">
    <input type="submit" class="button" name="submit" value="Save and continue" id="children-details-save">
    <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    <input type="hidden" id="children" name="children" value="{{number_of_children}}"/>
</form>
<br>

{% include 'return-to-list.html' %}

{% endblock %}