{% extends 'govuk_template.html' %}
{% block page_title %}Children in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">
{{form.error_summary}}

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div class="form-group">
        <h1 class="form-title heading-large">
            Children in your home
        </h1>
        <p>We need to know about any children under 16 who live in your home.</p>
        <p>Council social services will carry out checks on all of these children.</p>

        <br>
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button" value="Save and continue">
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </div>
</form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}