{% extends 'govuk_template.html' %}
{% block page_title %}Email resent{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include "back-button.html" %}

<!-- Form -->
<div class="two-thirds">
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Email resent
        </h1>
        <p>We have resent an email to {{name}}: {{email}}.</p>
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button" value="Continue">
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </div>
</form>
</div>

{% endblock %}