{% extends 'govuk_template.html' %}
{% block page_title %}Resend health questions{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">

{% if error_summary_title %}
    <div class="error-summary">
        <label class="heading-medium error-summary-heading">
            {{ error_summary_title }}
        </label>
        <p>You need to do the following:</p>
        <span class="error-message">
            {{ arc_comment }}
        </span>
    </div>
{% endif %}

{% if resend_limit %}
    {% include "resend_error.html" %}
{% endif %}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Resend health questions
        </h1>
        <p>{{name}}: {{email}}</p>
        <p><a href="{% url 'Other-People-Summary-View' %}?id={{application_id}}">I want to change the email address</a></p>
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button" name="resend_email" value="Resend health questions">
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
        <input type="hidden" id="adult" name="adult" value="{{adult}}"/>
    </div>
</form>
</div>

{% endblock %}