{% extends 'govuk_template.html' %}
{% block page_title %}Thank you for applying{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="two-thirds">
    <div class="govuk-box-highlight">
        <h1 class="bold-large">Thank you for applying</h1>
        <br>
        <p>
            Your application number is
            <br>
            <br>
            <strong class="heading-medium">{{order_code}}</strong>
            </p>
        </div>
        <h2 class="heading-medium">
            Payment summary
        </h2>
        <div class="form-group">
            <table class="check-your-answers">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Application fee</td>
                    <td>&#163;{{cost}}.00</td>
                </tr>
                </tbody>
            </table>
        </div>

    <h2 class="heading-medium no-print">
        Your application details
    </h2>

    {% include 'print-links.html' %}

    <br>

    {% if is_early_years_register %}
    <h2 class="heading-medium no-print">
        Post your health declaration booklet
    </h2>

    <p>We need your completed health declaration booklet.</p>
    <p>If you have not done so, post it to:</p>
    <p style="margin-left: 40px;">
        Applications team
        <br>
        Ofsted
        <br>
        Piccadilly Gate
        <br>
        Store Street
        <br>
        Manchester
        <br>
        M1 2WD
    </p>

    <p>There may be delays if we do not receive it right away.</p>

    {% else %}
    <p>You do not need to do anything else for now.</p>
    {% endif %}

    <h2 class="heading-medium">
        Contact us
    </h2>
    <p>Contact us if you have any questions about your application.</p>
    <p class="panel">
        Ofsted
        <br>
        <a href="mailto:enquiries@ofsted.gov.uk">enquiries@ofsted.gov.uk</a>
    </p>
</div>

{% endblock %}
