{% extends 'govuk_template.html' %}
{% block page_title %}Pay your fee{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <div class="form-group">
        <h1 class="form-title heading-large">
            Pay your fee
        </h1>
        <p>You need to pay &#163;35 to apply.</p>
        <p>This fee is not refundable.</p>
        {{form.as_div}}
        {% csrf_token %}
        <input type="submit" class="button" value="Save and continue">
        <input type="hidden" name="id" value="{{application_id}}"/>
    </div>
    </br>
{% include 'return-to-list.html' %}
</form>

{% endblock %}