{% extends 'govuk_template.html' %}
{% block page_title %}Payment confirmed{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="bold-large">Thank you for applying</h1>
            <br>
            <p>
                Your application number is
                <br>
                <br>
                <strong class="heading-medium">{{order_code}}</strong>
            </p>
        </div>
        <h2 class="heading-medium">
            Payment summary
        </h2>
        <div class="form-group">
            <table class="check-your-answers">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Application fee</td>
                    <td>&#163;35.00</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2 class="heading-medium">
            Your application details
        </h2>
        <p style="margin-left: 20px;"><img src="{% static 'printer.png' %}" alt="Print"
                                           style="height: 20px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
            <a href="{% url 'Print-Handler-View' page='master-summary' %}?id={{ application_id }}&orderCode={{order_code}}">Print this page</a></p>
        <p style="margin-left: 20px;"><img src="{% static 'printer.png' %}" alt="Print"
                                           style="height: 20px; margin-right: 10px; display: inline-block; vertical-align: middle;"/>
            <a href="{% url 'Print-Handler-View' page='master-summary' %}?id={{ application_id }}&orderCode={{order_code}}">Print your application</a></p>
        <h2 class="heading-medium">
            Send your documents
        </h2>
        <p>We need:</p>
        <ul class="list-bullet" style="margin-bottom: 20px; margin-left: 20px;">
            <li>your health declaration booklet</li>
            <li>your DBS certificate</li>
        </ul>
        <p>Send your original documents (not photocopies) to:</p>
        <p style="margin-left: 40px;">
            Applications team
            <br>
            Ofsted
            <br>
            Piccadilly Gate
            <br>
            Store Street
            <br>
            Manchester
            <br>
            M1 2WD
        </p>
        <p>We will not review your application without them.</p>
    </div>
</div>

{% endblock %}