{% extends 'govuk_template.html' %}
{% block page_title %}Pay by debit or credit card{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        <h1 class="form-title heading-large">
            Pay by debit or credit card
        </h1>

    <p class="form-group">
        <img src="{% static 'card-types.png' %}" alt="accepted-cards-visa-maestro-mastercard-amex"
             style="height: 40px;"/>
    </p>
    <div class="form-group">
        <p>We accept Visa, Maestro, MasterCard and American Express cards.</p>
        <p>
            You are paying <span class="bold-small">&#163;35</span> to <span class="bold-small">apply to be a childminder</span>.
        </p>
    </div>
    <div class="form-group">
        {{form.as_div}}
        <p>You will be taken to Worldpay. Ofsted does not keep a record of your card details.</p>
        {% csrf_token %}
        <input type="hidden" value="{{application_id}}" name="id"/>
        <input type="submit" class="button" style="float:left;" value="Pay and apply">
        <a href="{% url 'Task-List-View' %}?id={{ id }}" class="button-secondary button-save-and-exit" style="margin-left: 30px; margin-top: 15px;">Save and return</a>
    </div>
</form>

{% endblock %}