{% extends 'govuk_template.html' %}
{% block page_title %}Enter second reference address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Initialise error summary for page -->
{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Second reference address
        </h1>
        <p>Please give the address for your second referee.</p>
        {{form.as_div}}
        {% csrf_token %}
        <a href="{% url 'References-Second-Reference-Address-View' %}?id={{application_id}}"
           name="manual" id="manual">Use postcode search</a>
        <input type="submit" class="button" value="Save and continue" alt='Continue to declaration'>
        <input type="hidden" id="id" name="id" value="{{application_id}}"/>
    </div>
</form>

{% include 'return-to-list.html' %}

{% endblock %}