<!-- Implement GOV.UK template -->
{% extends 'govuk_template.html' %}

<!-- Tab title -->
{% block page_title %}Sign in question{% endblock %}

{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<!-- Back Button -->
{% include "back-button.html" %}


{% if error %}
<!-- Initialise error summary for page -->
<div class="error-summary" aria-labelledby="error-summary-heading-jGBv" role="alert" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-jGBv"> There was a problem with your
        answer
    </h2>
    <ul class="error-summary-list">
        <li class="non-field-error">{{ error }}</li>
    </ul>
</div>
{% endif %}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <h1 class="form-title heading-large">
        Your sign in question
    </h1>
    <div class="form-group">
        {% include 'security-question-content.html' %}
        <p class="form-title heading-small">
            {{label}}
        </p>
        {% for form in forms %}
        {{form.as_div}}
        {% csrf_token %}
        {% endfor %}

        <input type="hidden" id="id" value="{{application_id}}" name="id"/>
        <input type="submit" class="button" value="Save and continue" alt='Continue to declaration'>
    </div>
</form>
<!-- If applicant has previously completed this task, allow user to return to task list -->
{% if login_details_status == 'COMPLETED' %}
<div class="form-group">
    <a href="{{ URL_PREFIX }}/task-list?id={{application_id}}">Return to list</a>
</div>
{% endif %}

{% endblock %}