{% extends 'govuk_template.html' %}
{% block page_title %}Register as a childminder{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Register as a childminder (England)
        </h1>
        <p>Register with Ofsted to look after children in your home.</p>

        <h2 class="heading-medium">
            Before you start
        </h2>
        <p>You need the following:</p>
        <ul class="list list-bullet" style="margin-left: 30px;">
            <li><a href="https://www.gov.uk/guidance/criminal-record-checks-for-childminders-and-childcare-workers" target="_blank">UK criminal record (DBS) certificates</a></li>
            <li>DBS certificates for anyone aged 16 or over in the home dated</li>
            <li>first aid training</li>
            <li>childcare training</li>
            <li><a href="https://www.gov.uk/government/publications/become-a-childcare-provider-health-declaration" target="_blank">health declaration booklet</a></li>
            <li>contact details for 2 references</li>
        </ul>

        <a>If you or adults in the home have lived abroad in the last 5 years, you need <a href="https://www.gov.uk/government/publications/criminal-records-checks-for-overseas-applicants" target="_blank">criminal record certificates from the embassies</a>.</p>

        <h2 class="heading-medium">
            How much it costs
        </h2>
        <p>It usually costs &#163;35 to register with Ofsted.</p>
        <p>Find out about <a href="https://www.gov.uk/register-childminder-childcare-provider/registration-costs" target="_blank">other costs and renewal</a>.</p>

        <h2 class="heading-medium">
            How long it takes
        </h2>
        <p>It should take you 30 minutes to fill in this form.</p>
        <p class="text-before-button">It usually takes up to 12 weeks to register with Ofsted.</p>
        <form action="{% url 'Account-Selection' %}" method="get">
            <input type=submit class="button button-start" value="Sign in">
        </form>
    </div>
    <div class="column-one-third">
        <h2 class="heading-medium">
            Related content
        </h2>
        <p><a href="https://www.gov.uk/guidance/register-as-a-childminder-quick-guide" target="_blank">Register as a childminder: quick guide</a></p>
        <p><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2" target="_blank">Early years foundation stage</a></p>
    </div>
</div>

{% endblock %}