{% extends 'govuk_template.html' %}
{% block page_title %}Your declaration{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block proposition_menu %}
{% endblock %}
{% block inner_content %}
{% include 'back-button.html' %}

<div class="two-thirds">
    <h1 class="form-title heading-large">Your declaration</h1>
    <p>Ofsted will check your details.</p>
    <p>We will also carry out background checks with social services as well as other organisations.</p>
    <p><a href="{% static 'Household members information on background checks.pdf'%}">Leaflet on background
        checks</a> (PDF, 174KB, 1 page)</p>
    <p>By continuing, I confirm that</p>
    <ul class="list list-bullet">
        <li>I am suitable to be in regular contact with children</li>
        <li>the information I have given is correct</li>
    </ul>
    <div class="notice">
        <i class="icon icon-important icon-ofsted-download"
           style="background-image: url(/childminder/static/images/icon-important.png)">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">Ofsted can disqualify the childminder if you:
            <ul class="list list-bullet">
                <li>give us false information</li>
                <li>hide information</li>
            </ul>
        </strong>
    </div>
    <br>
    <a href="{{ thank_you_url }}" class="button">Continue</a>
</div>

{% endblock %}
