{% extends 'govuk_template.html' %}
{% block page_title %}Date of birth{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block proposition_menu %}
{% endblock %}
{% block inner_content %}
{% include 'back-button.html' %}

<div class="two-thirds">
{{ form.error_summary }}
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}

    <div class = "form-group">
        <h1 class="form-title heading-large">Enter date of birth</h1>
        <p>Please provide your date of birth below.</p>
        <p>This is to make sure that you are the same person the applicant named in their childminder application.</p>
        <p>If you have any issues, please contact the applicant.</p>
        {{ form }}
        <input type="hidden" value="{{times_wrong}}" name="times_wrong"/>
        <input type="hidden" value="{{person_id}}" name="person_id"/>
        <input type="submit" class="button" value="Continue">
    </div>
</form>
</div>


{% endblock %}