{% extends 'govuk_template.html' %}
{% block page_title %}Serious illnesses{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block proposition_menu %}
{% endblock %}
{% block inner_content %}
{% include 'back-button.html' %}

<div class="two-thirds">
    {{ form.error_summary }}
</div>
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
        {% csrf_token %}
        <h1 class="form-title heading-large">{% if illness_id %}Edit serious illness{% else %}Serious illnesses{% endif %}</h1>
        {% if illnesses %}
        <table class="check-your-answers two-thirds">
            <tr>
                <th class="bold">Illness</th>
                <th class="bold">Start date</th>
                <th class="bold">End date</th>
                <th class="bold">Remove</th>
            </tr>
            {% for illness in illnesses %}
            <tr>
                <td>{{ illness.description }}</td>
                <td>{{ illness.start_date|date:"d/m/Y" }}</td>
                <td>{{ illness.end_date|date:"d/m/Y" }}</td>
                <td>
                    <a href="{% url 'Health-Check-Serious' %}?person_id={{person_id}}&action=Delete&illness_id={{illness.pk}}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {{ form }}
        <p class="two-thirds">You can tell us about any other illnesses on the next page.</p>
        <div class="js-hidden" id="test"></div>
        <input type="submit" name="action" class="button" value="Continue">
    </form>

{% endblock %}