{% extends 'govuk_template.html' %}
{% block page_title %}Thank you{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block proposition_menu %}
{% endblock %}
{% block inner_content %}

<div class="two-thirds">
<h1 class="form-title heading-large">Thank you for completing the health check</h1>
    NEITHER
<p>Ofsted will email the applicant to let them know that you have answered these questions. </p>
<p>We will not contact you unless we need more information. </p>
</div>

{% endblock %}
