{% extends 'govuk_template.html' %}
{% block page_title %}Thank you{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block proposition_menu %}
{% endblock %}
{% block inner_content %}

<div class="two-thirds">
<h1 class="form-title heading-large">Thank you for answering the health questions</h1>
<p>Ofsted will email the applicant to let them know that you have answered these questions. </p>

    <p><h2 class="form-title heading-small">Email your criminal record certificates from abroad</h2></p>
    <p>{{ firstname }} told us that you have lived abroad in the last 5 years.</p>
    <p>We need to see your criminal record certificates from those countries. </p>
    <p>You can scan the documents or take photos.</p>
    <p>Make sure everything is clear and you can read everything.</p>

    <p>Email the copies to <a href="mailto:enquiries@ofsted.gov.uk.">enquiries@ofsted.gov.uk</a>.</p>

    <p>There may be delays if we do not receive it right away.</p>
</div>

{% endblock %}
