{% extends 'govuk_template.html' %}
{% block page_title %}Thank you{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block proposition_menu %}
{% endblock %}
{% block inner_content %}

<div class="two-thirds">
<h1 class="form-title heading-large">Thank you for answering the health questions</h1>

<p>Ofsted will email the applicant to let them know that you have answered these questions. </p>
    <p><h2 class="form-title heading-small">Send your documents</h2></p>
    <p>There may be delays if we do not receive the following documents right away.</p>
    <p><h2 class="form-title heading-small">Post your DBS certificate</h2></p>
    <p>We need your original DBS certificate (not a photocopy).</p>
    <p>Post it to:</p>
    <p style="margin-left:40px">
        Applications team <br />
        Ofsted <br />
        Piccadilly Gate <br />
        Store Street <br />
        Manchester <br />
        M1 2WD<br />
    </p>
        <form method="post" novalidate>
            <div class="form-group">
                <h2 class="form-title heading-small">
                    Email your you criminal record certificates from abroad
                </h2>
                <p>{{ ApplicantName }} told us that you have lived abroad in the last 5 years.</p>
                <p>We need to see your criminal record certificates from those countries. </p>
                <p>You can scan the documents or take photos.</p>
                <p>Make sure everything is clear and you can read everything.</p>
                <p>You will need to email a copy of your certificates to Ofsted on <a href="mailto:enquiries@ofsted.gov.uk">enquiries@ofsted.gov.uk</a>  after you submit your application.</p>
                <p>You must wait to submit your application before sending us these, otherwise we will not be able to check it.</p>

                {% csrf_token %}
                <input type="submit" class="button" value="Continue">
            </div>
        </form>

{% endblock %}
