{% extends 'govuk_template.html' %}
{% block page_title %}Thank you{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block proposition_menu %}
{% endblock %}
{% block inner_content %}

<div class="two-thirds">
<h1 class="form-title heading-large">Thank you for answering the health questions</h1>
<p>Ofsted will email the applicant to let them know that you have answered these questions. </p>

    <p><h2 class="form-title heading-small">Post your DBS certificate</h2></p>
    <p>We need your original DBS certificate (not a photocopy).</p>
    <p>Post it to:</p>
    <p style="margin-left:50px">
        Applications team <br />
        Ofsted <br />
        Piccadilly Gate <br />
        Store Street <br />
        Manchester <br />
        M1 2WD<br />
    </p>
    <p>There may be delays if we do not receive it right away.</p>
</div>

{% endblock %}
