{% extends 'govuk_template.html' %}
{% block page_title %}First adult address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<div class="two-thirds">
    {% if error_summary_list %}
        {% include "PITH_templates/PITH_error_summary.html" %}
    {% endif %}
    <form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
        {% for form in form_list %}
    <div class="two-thirds">
        <h1 class="form-title heading-large">
            Enter {{ form.adult.get_full_name }} address
        </h1>
        <p>Please give the address for {{ form.adult.get_full_name }}.</p>
    </div>
    {{form.as_div}}
    {% csrf_token %}
    <a href="{% url 'PITH-Address-Details-View' %}?id={{application_id}}"
       name="manual" id="manual">Use postcode search</a>
    <br>
    <br>
    <input type="submit" class="button" value="Save and continue">
    <input type="hidden" id="id" name="id" value="{{application_id}}"/>
</form>
<br>
</div>