{% extends 'govuk_template.html' %}
{% block page_title %}Before you submit{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
    {{form.error_summary}}

    <form method="post" novalidate>
        <div class="form-group">

            <h1 class="form-title heading-large">
                Before you submit
            </h1>

            {% if need_apply_for_new_list %}
                <h2 class="heading-medium">
                    Apply for new DBS check
                </h2>

                <p>The following adults do not have an enhanced home-based check:</p>

                <p>
                    <ul style="list-style-type: disc; padding-left: 50px;">
                        {% for adult in need_apply_for_new_list %}
                            <li>{{adult.get_full_name}}</li>
                        {% endfor %}
                    </ul>
                </p>

                <p>They need to apply for a new check using the
                    <a href=" http://ofsteddbsapplication.co.uk/step-one.aspx" target="_blank">
                        Ofsted DBS application website.</a></p>
            {% endif %}

            {%if need_update_service_sign_up_list %}
                <h2 class="heading-medium">
                    Sign up to the DBS Update Service
                </h2>

                <p>The following adults need to sign up to the
                    <a href="https://secure.crbonline.gov.uk/crsc/apply?execution=e1s1" target="_blank">
                        DBS Update Service</a>:</p>

                <p>
                    <ul style="list-style-type: disc; padding-left: 50px;">
                        {% for adult in need_update_service_sign_up_list %}
                            <li>{{adult.get_full_name}}</li>
                        {% endfor %}
                    </ul>
                <p>

                <p>If they cannot do that, they must apply for a new check through the
                    <a href=" http://ofsteddbsapplication.co.uk/home" target="_blank">
                        Ofsted DBS application website.</a></p>
            {% endif %}

            {% if need_update_service_check_list %}
                <h2 class="heading-medium">
                    DBS Update Service check
                </h2>

                <p>We'll check that the following adults are on the DBS Update Service after you submit:</p>

                <p>
                    <ul style="list-style-type: disc; padding-left: 50px;">
                        {% for adult in need_update_service_check_list %}
                            <li>{{adult.get_full_name}}</li>
                        {% endfor %}
                    </ul>
                </p>

                <p>Your application will be returned if they are not signed up to it.</p>
            {% endif %}

            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
        </div>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}