{% extends 'govuk_template.html' %}
{% block page_title %}Ministry of Defence checks{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
    {% for form in form_list %}
        {{form.error_summary}}
    {% endfor %}

    <form method="post" novalidate>
        <div class="form-group">

            <h1 class="form-title heading-large">
                DBS checks on adults in the home
            </h1>

            <p>Each adult in the home must have a UK criminal record (DBS) check.</p>

            <p>They can
                <a href="http://ofsteddbsapplication.co.uk/step-one.aspx" target="_blank">
                    apply for an Ofsted DBS check.
                </a>
            </p>

            <p>Please enter their DBS certificate numbers.</p>

            {% for form in form_list %}
            {{ form.adult.get_full_name }}
                {{ form.as_div }}
            {% endfor %}

            {% csrf_token %}
            <input type="submit" class="button" value="Save and continue">
        </div>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}