{% extends 'govuk_template.html' %}
{% block page_title %}Sign up to DBS update service{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
    {{form.error_summary}}

    <form method="post" novalidate>
        <div class="form-group">

            <h1 class="form-title heading-large">
                Sign up to DBS update
            </h1>

            The following adults need to the
            <a href="https://secure.crbonline.gov.uk/crsc/apply?execution=e1s1" target="_blank">
            DBS update service
            </a>:
            <ul style="list-style-type: disc; padding-left: 50px;">
                <br>
                {% for adult in adult_list %}
                    <li>{{adult.get_full_name}}</li>
                {% endfor %}
            </ul>
            <br>

            <p>If they cannot do that, they must apply for a new check through the
                <a href=" http://ofsteddbsapplication.co.uk/step-one.aspx" target="_blank">
                Ofsted DBS application website.
            </a>
            </p>



            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
        </div>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}