{% extends 'govuk_template.html' %}
{% block page_title %}Post the DBS certificate{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
    {{form.error_summary}}

    <form method="post" novalidate>
        <div class="form-group">

            <h1 class="form-title heading-large">
                Post the DBS certificates
            </h1>

            The following adults in your home must post their original certificates (not a photocopy) to Ofsted:
            <ul style="list-style-type: disc; padding-left: 50px;">
                <br>
                {% for adult in adult_list %}
                    <li>{{adult.get_full_name}}</li>
                {% endfor %}
            </ul>
            <br>

            <p>We need to check details of any cautions or convictions.</p>

            <p>They can send it to:</p>

            <ul style="list-style-type: none; padding-left: 50px; padding-bottom: 20px;">
                <li>Applications team</li>
                <li>Ofsted</li>
                <li>Piccadilly Gate</li>
                <li>Store Street</li>
                <li>Manchester</li>
                <li>M1 2WD</li>
            </ul>


            <p>We’ll then send it back to them.</p>

            {% csrf_token %}
            <input type="submit" class="button" value="Continue">
        </div>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}