{% extends 'govuk_template.html' %}
{% block page_title %}Address details for children not in the home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">

    <form method="post" novalidate>
        <div class="form-group">

            <h1 class="form-title heading-large">
                Address details for children not in the home
            </h1>

            {% for child in child_list %}
                {{ child.get_full_name }}
                {{ child.get_full_address }}
            {% endfor %}

            {% csrf_token %}
            <input type="submit" class="button" value="Save and continue">
        </div>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}