{% extends 'govuk_template.html' %}
{% block page_title %}DBS checks on adults in the home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}
<div class="two-thirds">
    {% if error_summary_list %}
        {% include "PITH_templates/PITH_error_summary.html" %}
    {% endif %}

    <form method="post" novalidate>
        <div class="form-group">

            <h1 class="form-title heading-large">
                DBS checks
            </h1>

            <p>Each adult in the home must have a UK criminal record (DBS) check. This must be an enhanced check with barred lists as well as being for a
            <a href="https://www.gov.uk/government/publications/dbs-home-based-positions-guide/home-based-position-definition-and-guidance" target="_blank">home-based childcare role</a>.</p>

            <p>They can apply for a check from the
                <a href="http://ofsteddbsapplication.co.uk/home" target="_blank">
                    Ofsted DBS application website
                </a>
                .
            </p>

            <p>We need the certificate number to check if they have criminal convictions or cautions.</p>

            {% for form in form_list %}
            {{ form.adult.get_full_name }}
                {{ form.as_div }}
            {% endfor %}

            {% csrf_token %}
            <input type="submit" class="button" value="Save and continue">
        </div>
    </form>
</div>

{% include 'return-to-list.html' %}

{% endblock %}